<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      {% for item in site.data.navigation %}
        <a class="page-link" href="{{ item.url | relative_url }}" {% if page.url == item.url %}style="font-weight:700;"{% endif %}>{{ item.title | escape }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
